@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-pagination-bullet.swiper-pagination-bullet-active {
    @apply !bg-primary;
}

@layer base {
    * {
        outline: none;
        -webkit-tap-highlight-color: transparent;
    }

    input,
    textarea,
    button,
    select {
        @apply font-sans;
    }

    .svg-logo {
        height: 55px;
        fill: #fff;
        padding-top: 5px;
        width: 200px;
    }

    a {
        color: #191919;
        display: block;
    }

    li {
        list-style-type: none;
    }
}

@layer components {
    .layout {
        @apply max-w-[1170px] mx-auto;
    }

    .primary-btn {
        @apply inline-block overflow-hidden relative transition-colors duration-500 cursor-pointer hover:text-primary z-10 text-white text-center rounded-lg border-2 border-primary text-base font-semibold py-2;
    }

    .primary-btn:before {
        content: '';
        @apply absolute scale-x-100 origin-left transition-transform  duration-500 block rounded-lg bg-primary z-[-1]  top-[-2px] left-[-2px] right-[-2px] bottom-[-2px];
    }

    .primary-btn:hover:before {
        @apply scale-x-0 origin-right;
    }

    .bars {
        @apply w-4 bg-gray-500 h-[2px] relative before:top-[-6px] after:top-[6px];
    }

    .bars:before,
    .bars::after {
        content: '';
        @apply w-5 bg-gray-500 h-[2px] absolute left-0;
    }
}
