@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        outline: none;
        -webkit-tap-highlight-color: transparent;
    }

    input,
    textarea,
    button,
    select {
        @apply font-sans;
    }

    .svg-logo {
        height: 55px;
        fill: #fff;
        padding-top: 5px;
        width: 200px;
    }

    a {
        color: #191919;
    }
}

@layer components {
    .layout {
        @apply max-w-[1170px] mx-auto;
    }
}
