@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-pagination-bullet.swiper-pagination-bullet-active {
    @apply !bg-primary;
}

@layer base {
    * {
        outline: none;
        -webkit-tap-highlight-color: transparent;
    }

    body {
        text-rendering: optimizeSpeed;
        -webkit-font-smoothing: antialiased;
    }

    input,
    textarea,
    button,
    select {
        @apply font-sans;
    }

    .svg-logo {
        height: 55px;
        fill: #fff;
        padding-top: 5px;
        width: 200px;
    }

    a {
        color: #191919;
        display: block;
    }

    li {
        list-style-type: none;
    }

    .post-content p {
        margin-bottom: 10px;
        line-height: 24px;
        word-break: break-word;
    }

    .post-content ul {
        margin-left: 10px;
    }

    .post-content li {
        margin-bottom: 10px;
    }

    .post-content h4 {
        @apply text-primary;
    }

    .post-content p img {
        margin: 0 auto;
        max-width: 100%;
    }

    .post-content {
        font-size: 14px;
    }

    .dot {
        position: relative;
    }

    .dot:before {
        content: '';
        position: absolute;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background: currentColor;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
    }
}

@layer components {
    .layout {
        @apply max-w-[1170px] mx-auto;
    }

    .primary-btn {
        @apply inline-block overflow-hidden relative transition-colors duration-500 cursor-pointer hover:text-primary z-10 text-white text-center rounded-lg border-2 border-primary text-base font-semibold py-2;
    }

    .primary-btn:before {
        content: '';
        @apply absolute scale-x-100 origin-left transition-transform  duration-500 block rounded-lg bg-primary z-[-1]  top-[-2px] left-[-2px] right-[-2px] bottom-[-2px];
    }

    .primary-btn:hover:before {
        @apply scale-x-0 origin-right;
    }

    .bars {
        @apply w-4 bg-gray-500 h-[2px] relative before:top-[-6px] after:top-[6px];
    }

    .bars:before,
    .bars::after {
        content: '';
        @apply w-5 bg-gray-500 h-[2px] absolute left-0;
    }

    .text-field {
        @apply block w-full px-3 text-[#333] h-12 border border-gray-200 bg-gray-100 text-base focus:bg-white rounded-md transition-colors;
    }

    .line-clamp-1 {
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
    }

    .line-clamp-2 {
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
    }

    .line-clamp-3 {
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
    }

    .line-clamp-6 {
        -webkit-line-clamp: 6;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
    }

    .before-bg-file:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: var(--bg);
        background-size: cover;
        background-position: 50%;
        background-repeat: no-repeat;
        opacity: 1;
        transition: opacity 0.3s;
    }

    .before-bg-file:hover:before {
        opacity: 0.1;
    }

    .primary-link {
        @apply hover:text-primary transition-colors duration-300 text-[#191919] font-semibold;
    }
}
